@font-face {
    font-family: "RobotoMono";
    src: url("./fonts/RobotoMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMono";
    src: url("./fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: bold;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-size: 10vh;
    color: red;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#Mainframe {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    background: black;
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}

.layout-two-columns {
    flex: 2;
}

.layout-one-column {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.layout-one-sixth {
    flex: 1;
}

.panel-frame {
    position: relative;

    background: #61605A;

    box-shadow:
            inset 2px 2px 0 #7a7973,
            inset -3px -3px 0 #4a4944;
}

.absolute-positioning {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    pointer-events: none;
}



#map-panel {
    display: flex;
    flex-direction: column;
    /*position: relative;*/
}

#map-header {
    height: 6.5%;
    display: flex;
    flex-direction: row;
}

#map-header div {
    font-family: "RobotoMono";
    font-size: 2.4vh;
    color: #ccc;

    padding: 7px;

    line-height: 1;
}

#map-header div.vertically-centered {
    display: flex;
    align-items: center;
}

#map-header div.fully-centered {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map-header div span.black-rect {
    background: #000;
    padding: 4px 6px;
}

#map-header div span.black-rect-white-frame {
    background: #000;
    border: 1px solid #ccc;
    padding: 4px 6px;
}

#map-header div span.dropdown-arrow {
    position: absolute;
    right: 12px;
    top: 0px;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 3.5vh;
    color: #ccc;
}

#map-header div.bigger-text {
    font-size: 2.6vh;
    padding-top: 3px;
}

#map-container {
    height: 93.5%;
    position: relative;
    overflow: hidden;
}

/*#map-container bing-map {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#MapContainer {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

map-instrument {
    width: 100%;
    height: 100%;
    display: block;
    /*min-height: 0;*/
}



.centered-absolute-label {
    position: absolute;
    transform: translate(-50%, 0%);
}

.gauge-label {
    font-family: "RobotoMono";
    font-size: 2.4vh;
    color: #ccc;
}

.gauge-value {
    font-family: "RobotoMono";
    font-size: 2.2vh;
    color: #ccc;

    background: #000;

    box-shadow:
            inset -2px -2px 0 #999,
            inset 1px 1px 0 #222;
    padding: 1px 4px;
}

.text-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-align: center;

    font-family: "RobotoMono";
    font-size: 2.5vh;
    color: #333;
}


.dev-background#map-panel {
    background-image: url("dev-backgrounds/g800-du2-map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    opacity: 0.5;
}

.dev-background#primary-engine-panel {
    background-image: url("dev-backgrounds/g800-du2-primary-engine.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    opacity: 0.5;
}

.dev-background#secondary-engine-panel {
    background-image: url("dev-backgrounds/g800-du2-secondary-engine.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    opacity: 0.5;
}

.dev-wip {
    background: repeating-linear-gradient(
            45deg,
            #333 0px,
            #333 5px,
            #440 10px,
            #440 15px
    );
    color: #777;
}
