html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-size: 10vh;
    color: red;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#Mainframe {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    background: black;
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}

.layout-two-columns {
    flex: 2;
}

.layout-one-column {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.layout-one-sixth {
    flex: 1;
}

.panel-frame {
    position: relative;

    background: #61605A;

    box-shadow:
            inset 3px 3px 0 #7a7973,
            inset -3px -3px 0 #4a4944;
}

.absolute-positioning {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    pointer-events: none;
}

.centered-absolute-label {
    position: absolute;
    transform: translate(-50%, 0%);
}

.gauge-label {
    font-family: monospace;
    font-size: 2.4vh;
    color: #ccc;
}

.gauge-value {
    font-family: monospace;
    font-size: 2.2vh;
    color: #ccc;

    background: #000;

    box-shadow:
            inset -2px -2px 0 #999,
            inset 1px 1px 0 #222;
    padding: 2px 6px;
}


.text-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-align: center;

    font-family: monospace;
    font-size: 2.5vh;
    color: #333;
}




.primary-engine-panel-dev-background {
    background-image: url("dev-backgrounds/primary-engine-pwc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    opacity: 0.5;
}

.secondary-engine-panel-dev-background {
    background-image: url("dev-backgrounds/secondary-engine-pwc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    opacity: 0.5;
}
