[VERSION]
major =1
minor =0

[WEIGHT_AND_BALANCE]
max_gross_weight =103600
empty_weight =53991
reference_datum_position = 0,-0,0
empty_weight_CG_position = -5.2,-0,2
CG_forward_limit =0.15
CG_aft_limit =0.3
empty_weight_pitch_MOI =149403
empty_weight_roll_MOI =49434
empty_weight_yaw_MOI =185997
empty_weight_coupled_MOI =100
activate_mach_limit_based_on_cg =0
activate_cg_limit_based_on_mach =0
max_number_of_stations =16
station_load.0 =170,28.301,-1.616,7.0,TT:MENU.PAYLOAD.PILOT,1
station_load.1 =170,28.301,1.616,7.0,TT:MENU.PAYLOAD.COPILOT,2
station_load.2 =170,9.553,-2.426,6.316,TT:MENU.PAYLOAD.PASSENGER_01,3
station_load.3 =170,9.413,2.501,6.316,TT:MENU.PAYLOAD.PASSENGER_02,3
station_load.4 =170,4.075,-2.558,6.316,TT:MENU.PAYLOAD.PASSENGER_03,3
station_load.5 =170,3.518,2.689,6.316,TT:MENU.PAYLOAD.PASSENGER_04,3
station_load.6 =0,0.307,-2.903,6.316,TT:MENU.PAYLOAD.PASSENGER_05,3
station_load.7 =0,0.403,-0.851,6.316,TT:MENU.PAYLOAD.PASSENGER_06,3
station_load.8 =0,-5.5,-2.864,6.316,TT:MENU.PAYLOAD.PASSENGER_07,3
station_load.9 =0,-5.281,-0.892,6.316,TT:MENU.PAYLOAD.PASSENGER_08,3
station_load.10 =0,-8.295,2.413,6.316,TT:MENU.PAYLOAD.PASSENGER_09,3
station_load.11 =0,-10.785,2.482,6.316,TT:MENU.PAYLOAD.PASSENGER_10,3
station_load.12 =0,-13.132,2.614,6.316,TT:MENU.PAYLOAD.PASSENGER_11,3
station_load.13 =0,-8.701,-2.603,6.316,TT:MENU.PAYLOAD.PASSENGER_12,3
station_load.14=0,-13.69,-2.616,6.316,TT:MENU.PAYLOAD.PASSENGER_13,3
station_load.15=200,-22.921,0,5.729,TT:MENU.PAYLOAD.BAGGAGE_01,6

[CONTACT_POINTS]
gear_locked_above_speed = -1
gear_locked_on_ground = 1
gear_system_type = 1
max_castering_angle = 3.14159265358979
max_number_of_points = 11
max_speed_decreasing_steering_castering = 40
max_speed_decreasing_steering = 20
max_speed_full_steering_castering = 20
max_speed_full_steering = 10
steering_time_constants = 3,5
min_available_steering_angle_pct = 0.2
min_castering_angle = 0.05236
point.0 = 1,30.354,0,-3.4,750,0,0.592,75,0.6,1.25,0.33,7,7,0,260,260,2
point.1 = 1,-13.353,-7.028,-3.5,1500,1,0.925,0,0.6,1.1,0.33,7,7,0,260,260,2
point.2 = 1,-13.353,7.028,-3.5,1500,2,0.925,0,0.6,1.1,0.33,7,7,0,260,260,2
point.3 = 2,29.6,0,1.4,100,0,0,0,0,0,0,0,0,4,0,0,1
point.4 = 2,22,0,0.2,500,0,0,0,0,0,0,0,0,4,0,0,1
point.5 = 2,16,0,7.1,1,0,0,0,0,0,0,0,0,4,0,0,1
point.6 = 2,-16,-32,1.5,350,0,0,0,0,0,0,0,0,5,0,0,1
point.7 = 2,-16,32,1.5,350,0,0,0,0,0,0,0,0,6,0,0,1
point.8 = 2,-5,0,-1.7,500,0,0,0,0,0,0,0,0,4,0,0,1
point.9 = 2,-27,0,2.3,750,0,0,0,0,0,0,0,0,4,0,0,1
point.10 = Properties:2,-41,0,16,100,0,0,0,0,0,0,0,0,9,0,0,1
static_cg_height = 3.9
static_pitch = 0
tailwheel_lock = 0
allow_stopped_steering = 0

[FUEL]
LeftMain = -4.186, -12.117, -1.245, 3293, 0
RightMain = -4.185993, 12.117261, -1.245452, 3293, 0
Center1 = -16.386906, 0, -2.096, 350, 11
Center2 = -2.87082, 0, -2.095623, 1890, 0
Center3 = -3.6, 0, 0, 0, 0
LeftAux = -3.6, 0, 0, 0, 0
LeftTip = -3.6, 0, 0, 0, 0
RightAux = -3.6, 0, 0, 0, 0
RightTip = -3.6, 0, 0, 0, 0
External1 = -3.6, 0, 0, 0, 0
External2 = -3.6, 0, 0, 0, 0
fuel_type =2
number_of_tank_selectors =2
electric_pump =1
engine_driven_pump =1
manual_transfer_pump =0
manual_pump =0
anemometer_pump =0
fuel_dump_rate =0.025
default_fuel_tank_selector.1 =1
default_fuel_tank_selector.2 =1
default_fuel_tank_selector.3 =1
default_fuel_tank_selector.4 =1
fuel_transfer_pump.0 = 1, 20, 0.75, 1
fuel_transfer_pump.1 = 1, 19, 0.75, 2

[AIRPLANE_GEOMETRY]
wing_area =1021
wing_span =99.57
wing_root_chord =40
wing_camber =1
wing_thickness_ratio =0.03
wing_dihedral =3
wing_incidence =0
wing_twist =0
oswald_efficiency_factor =0.75
wing_winglets_flag =1
wing_sweep =36
wing_pos_apex_lon = -50
wing_pos_apex_vert =2
htail_area =200
htail_span =35
htail_pos_lon =-51
htail_pos_vert =21
htail_incidence =0.5
htail_sweep =40
htail_thickness_ratio =0.02
vtail_area =230
vtail_span =8
vtail_sweep =42
vtail_pos_lon =-38
vtail_pos_vert =9
vtail_thickness_ratio =0.03
fuselage_length =88.3
fuselage_diameter =4.5
fuselage_center_pos = -5.3,-0,6.6
elevator_area =70
aileron_area =100
rudder_area =50
elevator_up_limit =15
elevator_down_limit =14
aileron_up_limit =16
aileron_down_limit =15.2
rudder_limit =32
rudder_trim_limit =32
elevator_trim_limit =15
spoiler_limit =60
spoilerons_available =1
aileron_to_spoileron_gain =4.6
min_ailerons_for_spoilerons =5
min_flaps_for_spoilerons =0
spoiler_extension_time =2
spoiler_handle_available =1
auto_spoiler_available =1
auto_spoiler_min_speed =40
positive_g_limit_flaps_up =3
positive_g_limit_flaps_down =2.1
negative_g_limit_flaps_up =-2.4
negative_g_limit_flaps_down =-1.8
load_safety_factor =1
elevator_trim_neutral =2
aileron_to_rudder_scale =0
flap_to_aileron_scale =0
fly_by_wire =0
elevator_elasticity_table =0.000000:1.000000, 80.000000:1.000000, 250.000000:0.900000, 400.000000:0.330000
aileron_elasticity_table =0.000000:1.000000, 80.000000:1.000000, 250.000000:0.900000, 400.000000:0.330000
rudder_elasticity_table =0.000000:1.000000, 80.000000:1.000000, 250.000000:0.900000, 400.000000:0.330000
elevator_trim_elasticity_table =0.000000:1.000000, 80.000000:1.000000, 250.000000:0.900000, 400.000000:0.330000
air_spoiler_limit=60
auto_spoiler_auto_retracts=1
aileron_to_elevator_gain=0
spoiler_disabled_by_flaps=0
fly_by_wire_from_flaps=0

[AERODYNAMICS]
lift_coef_pitch_rate =-11.65724
lift_coef_daoa =0
lift_coef_delta_elevator =-1.39922
lift_coef_horizontal_incidence =0
lift_coef_flaps =3
lift_coef_spoilers =-0.1
drag_coef_zero_lift =0.015
drag_coef_flaps =0.1453
drag_coef_gear =0.03
drag_coef_spoilers =0.03
side_force_slip_angle =-2.74637
side_force_roll_rate =0.50854
side_force_yaw_rate =2.84314
side_force_delta_rudder =-3.54923
pitch_moment_horizontal_incidence =0
pitch_moment_delta_elevator =-5.85964
pitch_moment_delta_trim =-7.97964
pitch_moment_pitch_damping =-419.7973
pitch_moment_aoa_0 =-0.4533
pitch_moment_daoa =0
pitch_moment_flaps =0.8555
pitch_moment_gear =0.0306
pitch_moment_spoilers =0
pitch_moment_delta_elevator_propwash =-0.99491
pitch_moment_pitch_propwash =0
roll_moment_slip_angle =0.24939
roll_moment_roll_damping =-1.4369
roll_moment_yaw_rate =-0
roll_moment_spoilers =0
roll_moment_delta_aileron =-0.13163
roll_moment_delta_rudder =0
roll_moment_delta_aileron_trim_scalar =-0.15163
yaw_moment_slip_angle =0.89291
yaw_moment_roll =0
yaw_moment_yaw_damping =-16.85431
yaw_moment_yaw_propwash =0
yaw_moment_delta_aileron =0
yaw_moment_delta_rudder =1.0374
yaw_moment_delta_rudder_propwash =0.28435
yaw_moment_delta_rudder_trim_scalar =1.1374
compute_aero_center =0
aero_center_lift =-10.5
lift_coef_aoa_table =-3.150000:0.000000, -0.800000:-1.185000, -0.400000:-0.987000, -0.200000:-0.698000, -0.100000:-0.489000, 0.000000:0.100000, 0.190000:1.260000, 0.280000:1.400000, 0.290000:0.500000, 0.400000:0.100000, 0.600000:1.000000, 0.800000:0.900000, 3.150000:0.000000 
lift_coef_ground_effect_mach_table =0.054000:0.100000
lift_coef_mach_table =0.000000:1.000000, 1.000000:10.000000
lift_coef_delta_elevator_mach_table =0.000000:0.000000
lift_coef_daoa_mach_table =0.000000:0.000000
lift_coef_pitch_rate_mach_table =0.000000:0.000000
lift_coef_horizontal_incidence_mach_table =0.000000:0.000000
rag_coef_zero_lift_mach_tab =0.000000:0.000000, 0.500000:0.000000, 0.550000:0.000000, 0.600000:0.000000, 0.650000:0.000000, 0.700000:0.000000, 0.800000:0.000000, 0.940000:0.000000, 0.950000:0.000000, 0.960000:0.100000, 0.970000:2.000000, 1.000000:2.000000, 1.100000:2.000000, 1.500000:2.000000
side_force_slip_angle_mach_table =0.000000:0.000000
side_force_delta_rudder_mach_table =0.000000:0.000000
side_force_yaw_rate_mach_table =0.000000:0.000000
side_force_roll_rate_mach_table =0.000000:0.000000
pitch_moment_aoa_table =-3.150000:0.000000, -0.800000:-1.599000, -0.400000:-1.272000, -0.200000:-0.686000, -0.100000:-0.348000, 0.000000:0.000000, 0.200000:0.742000, 0.230000:0.834000, 0.260000:0.920000, 0.290000:1.117000, 0.310000:1.224000, 0.400000:1.508000, 0.800000:1.962000, 3.150000:0.000000
pitch_moment_delta_elevator_aoa_table =-180.000000:-1.000000, -40.000000:0.183000, -20.000000:0.697000, -10.000000:0.993000, -5.000000:1.091000, 0.000000:1.000000, 5.000000:0.815000, 10.000000:0.633000, 20.000000:0.298000, 40.000000:-0.164000, 180.000000:-1.000000
pitch_moment_horizontal_incidence_aoa_table =0.000000:1.000000
pitch_moment_daoa_aoa_table =0.000000:1.000000
pitch_moment_pitch_alpha_table =0.000000:1.000000
pitch_moment_delta_elevator_mach_table =0.000000:0.000000
pitch_moment_daoa_mach_table =0.000000:0.000000
pitch_moment_pitch_rate_mach_table =0.000000:0.000000
pitch_moment_horizontal_incidence_mach_table =0.000000:0.000000
pitch_moment_aoa_0_mach_table =0.000000:0.000000
roll_moment_aoa_table =0.000000:0.000000
roll_moment_slip_angle_aoa_table =0.000000:1.000000
roll_moment_roll_rate_aoa_table =0.000000:1.000000
roll_moment_delta_aileron_aoa_table =0.000000:1.000000
roll_moment_slip_angle_mach_table =0.000000:0.000000
roll_moment_delta_rudder_mach_table =0.000000:0.000000
roll_moment_delta_aileron_mach_table =0.000000:0.000000
roll_moment_yaw_rate_mach_table =0.000000:0.000000
roll_moment_roll_rate_mach_table =0.000000:0.000000
yaw_moment_aoa_table =0.000000:0.000000
yaw_moment_slip_angle_aoa_table =0.000000:1.000000
yaw_moment_yaw_rate_aoa_table =0.000000:1.000000
yaw_moment_delta_rudder_aoa_table =0.000000:1.000000
yaw_moment_slip_angle_mach_table =0.000000:0.000000
yaw_moment_delta_rudder_mach_table =0.000000:0.000000
yaw_moment_delta_aileron_mach_table =0.000000:0.000000
yaw_moment_yaw_rate_mach_table =0.000000:0.000000
yaw_moment_roll_rate_mach_table =0.000000:0.000000
elevator_scaling_table =0.000000:1.000000
aileron_scaling_table =0.000000:1.000000
rudder_scaling_table =0.000000:0.500000
aileron_load_factor_effectiveness_table =0.000000:1.000000
lift_coef_at_drag_zero =0.1
lift_coef_at_drag_zero_flaps =0.1
lift_coef_air_spoilers=-0.1
elevator_lift_coef=12
rudder_lift_coef=5
fuselage_lateral_cx=0.4
presspt_fwd_Alpha0_pMAC=0
presspt_fwd_AlphaStall_pMAC=0
presspt_fwd_AlphaHiStall_pMAC=-0.25
drag_coef_air_spoilers=0.01

[FLIGHT_TUNING]
modern_fm_only =1
cruise_lift_scalar =1.6
parasite_drag_scalar =1
induced_drag_scalar =1
flap_induced_drag_scalar =1
elevator_effectiveness =1
elevator_maxangle_scalar =1
aileron_effectiveness =1.2
rudder_effectiveness =0.25
rudder_maxangle_scalar =1
pitch_stability =4
roll_stability =1.5
yaw_stability =2
elevator_trim_effectiveness =2
aileron_trim_effectiveness =1
rudder_trim_effectiveness =1
hi_alpha_on_roll =0
hi_alpha_on_yaw =0
p_factor_on_yaw =0
torque_on_roll =0
gyro_precession_on_roll = 0
gyro_precession_on_yaw =0
engine_wash_on_roll =0
wingflex_scalar =1
wingflex_offset =0
icing_scalar=1
stall_coef_at_min_weight=0.5
empty_CG_deviation_limit=10000
predicted_moi_density_scalar_fuselage=1
predicted_moi_density_scalar_wings=1
elevator_chordangle_scalar=-1
htail_maxangle_scalar=-1
disable_assistances=0
rudder_chordangle_scalar=-1
vtail_maxangle_scalar=-1
pitch_gyro_stability=0
roll_gyro_stability=0
yaw_gyro_stability=0
rudder_engine_wash_on_roll=1
gyro_precession_on_pitch=1
wingflex_surface_scalar=0
prop_moment_transfer_on_roll=0

[REFERENCE SPEEDS]
full_flaps_stall_speed =98
flaps_up_stall_speed =130
cruise_speed =504
crossspeed = 365 ; (KIAS)
cruise_mach =0.90
max_mach =0.95
max_indicated_speed =450
max_flaps_extended =240
normal_operating_speed =488
airspeed_indicator_max =365
rotation_speed_min =110
climb_speed =250
cruise_alt =51000
takeoff_speed =120
spawn_cruise_altitude =5000
spawn_descent_altitude =500
best_angle_climb_speed =0
approach_speed =115
spawn_altitude = 5000 ; Spawn Altitude (ft)
best_glide=160
max_gear_extended=675.222229
crossover_speed=0
best_single_engine_rate_of_climb_speed=0
minimum_control_speed=0
fly_assistant_use_dynamic_speeds=0

[INTERACTIVE POINTS]
number_of_interactive_points =1
interactive_point.0 =0.330000 , 22.638 , -3.812, 6.441, 3 , 0.000000, 0.000000, 90.000000 , 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000
;===================== FLAPS =====================
[FLAPS.0]
type=1
system_type=1
system_type_index=0
span-outboard=0.7
extending-time=20
altitude-limit=-1
damaging-speed=275
blowout-speed=305
maneuvering_flaps=0
lift_scalar=1.1
drag_scalar=1.1
pitch_scalar=1
max_on_ground_position=3
delay_between_flap_index=0
flaps-position.0= 0,-1,0.1,0.1,1,0,0,0
flaps-position.1= 10,250,0.2,0.4,1,0,0,0
flaps-position.2= 20,210,0.4,0.4,1,0,0,0
flaps-position.3= 39,180,0.5,0.5,1,0,0,0
flaps-position-autoretract.0= -57.29578, -1, -1
flaps-position-autoretract.1= -57.29578, -1, -1
flaps-position-autoretract.2= -57.29578, -1, -1
flaps-position-autoretract.3= -57.29578, -1, -1
flaps-position-maneuvering.0=0
flaps-position-maneuvering.1=0
flaps-position-maneuvering.2=0
flaps-position-maneuvering.3=0
flaps-position-speed-factor.0=0.000000:-1.000000
flaps-position-speed-factor.1=0.000000:-1.000000
flaps-position-speed-factor.2=0.000000:-1.000000
flaps-position-speed-factor.3=0.000000:-1.000000
flaps-position-speed-override-above.0= -1, -1
flaps-position-speed-override-above.1= -1, -1
flaps-position-speed-override-above.2= -1, -1
flaps-position-speed-override-above.3= -1, -1
flaps-position-speed-override-below.0= -1, -1
flaps-position-speed-override-below.1= -1, -1
flaps-position-speed-override-below.2= -1, -1
flaps-position-speed-override-below.3= -1, -1