html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-size: 50pt;
    color: red;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#Mainframe {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-image: url("dev-backgrounds/fuel-tab.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;/**/
    /*background: black;/**/
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}

#content-wrapper {
    flex: 5;

    display: flex;
    width: 100%;
    height: 100%;
}

#dim-bar {
    width: 3%;
    background: #111;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

#content {
    flex: 1;
}

.content-tab {
}

.content-tab.hidden {
    display: none;
}

.external-lights-tab {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.external-lights-tab-row {
    flex: 1;

    display: flex;
}

.external-lights-tab-button {
    flex: 1;
    margin: 30px;

    position: relative;

    height: 15vh;

    border-radius: 10pt;
    border: 2px solid #888;

    background: linear-gradient(to bottom, #222, #111);
    color: #ccc;

    font-size: 25pt;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.external-lights-tab-button.active {
    border: 2px solid #00ff66;
    color: #00ff66;
    background: linear-gradient(to bottom, #003300, #000);
}

.external-lights-tab-button:disabled {
    background: linear-gradient(to bottom, #222, #555);
    color: #777;
    border: 2px solid #555;
    cursor: not-allowed;
}

.external-lights-tab-aircraft-diagram {
    flex: 2;
    margin: 10px;
    padding: 75px;

    color: #777;
    font-size: 14pt;

    display: flex;
    justify-content: center;
    align-items: center;
}


#fuel-tab {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fuel-tab-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.fuel-tab-button {
    position: absolute;
    width: 11%;
    height: 18%;

    border-radius: 10pt;
    border: 2px solid #888;

    background: linear-gradient(to bottom, #222, #111);
    color: #ccc;

    font-size: 25pt;
    cursor: pointer;
}

.fuel-tab-button:disabled {
    background: linear-gradient(to bottom, #222, #555);
    color: #777;
    border: 2px solid #555;
    cursor: not-allowed;
}

.fuel-tab-label {
    position: absolute;

    font-size: 30pt;
    font-family: arial, serif;

    color: #ccc;
}

.fuel-tab-label.active {
    color: #00ff66;
}

.fuel-tab-closed-label {
    border: 2px solid #999;
    box-sizing: border-box;
    padding: 5px;
}


#menu {
    flex: 1;

    display: flex;
    background: linear-gradient(to top, #111, #333);
    padding: 0px;
}

.menu-button {
    flex: 1;
    margin: 10px;

    border-radius: 10px;
    border: 2px solid #777;

    background: linear-gradient(to bottom, #444, #111);

    color: #ccc;
    font-size: 25px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button.active {
    border: 2px solid #00ff66;
    color: #00ff66;
    background: linear-gradient(to bottom, #003300, #000);
}



.inop-badge {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 10pt;
    font-weight: bold;

    color: #000;
    background: #ffcc00;

    padding: 2px 6px;
    border-radius: 3px;

    transform: rotate(-20deg);
    pointer-events: none;
}
