html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-size: 50pt;
    color: red;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#Mainframe {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}


#content {
    flex: 5;
    padding: 30px;
    background: black;
}

.content-tab {

}

.content-tab.hidden {
    display: none;
}

.external-lights-tab {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.external-lights-tab-row {
    flex: 1;

    display: flex;
}

.external-lights-tab-button {
    flex: 1;
    margin: 10px;

    height: 20vh;

    border-radius: 10pt;
    border: 2px solid #888;

    background: linear-gradient(to bottom, #444, #111);
    color: #ccc;

    font-size: 20pt;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.external-lights-tab-button.active {
    border: 2px solid #00ff66;
    color: #00ff66;
    background: linear-gradient(to bottom, #003300, #000);
}

.external-lights-tab-button:disabled {
    background: linear-gradient(to bottom, #222, #555);
    color: #777;
    border: 2px solid #555;
    cursor: not-allowed;
    opacity: 0.6;
}

.external-lights-tab-aircraft-diagram {
    flex: 2;
    margin: 10px;
    padding: 25px;

    color: #777;
    font-size: 14pt;

    display: flex;
    justify-content: center;
    align-items: center;
}


#menu {
    flex: 1;

    display: flex;
    background: linear-gradient(to top, #111, #333);
    padding: 0px;
}

.menu-button {
    flex: 1;
    margin: 5px;

    border-radius: 10px;
    border: 2px solid #777;

    background: linear-gradient(to bottom, #444, #111);

    color: #ccc;
    font-size: 18px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button.active {
    border: 2px solid #00ff66;
    color: #00ff66;
    background: linear-gradient(to bottom, #003300, #000);
}






.system-button {
    width: 30vw;
    height: 20vh;
    border-radius: 10pt;
    border: 2px solid #888;
    background: linear-gradient(to bottom, #444, #111);
    color: #ccc;
    font-size: 20pt;
    white-space: pre-line;
    cursor: pointer;
}
